<!DOCTYPE html>
<html lang="en">
<head>
 
{{>header}}

</head>
<body>
{{>navbar}}           
<!---main section end   -->
        



        
	<!-- about-style-two -->
        <br><br> 
		<section class="about-style-two">
			<div class="auto-container">
                <div class="row align-items-center clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_23">
                            <div class="content-box mr-60">
                                <div class="sec-title">
                                    <!--<p>About Doc24X7</p>-->
                                    <h3>EMERGENCY CONSULTATION :</h3>
                                </div>
                                <ul class="list-style-one clearfix">
                                    <li>While going on through daily consultation , we doctors of doc24x7 will be available  at any time of your emergency as a family member and will take extreme care for you.</li>
                                    
                                </ul>
								<div class="sec-title">
                                    <!--<p>About Doc24X7</p>-->
                                    <h3>AMBULANCE SERVICES :</h3>
                                </div>
                                <ul class="list-style-one clearfix">
                                    <li>Doc 24/7 is committed to provide 24x7 ambulance services to patients in need for a regular shifting or during an emergency.</li>
                                    <li>Doc 24/7 ensures that patients get proper medical attention in their golden hour.</li>
                                    
                                </ul>
								
                            </div>
                        </div>
                    </div>
                   


                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_23">
                            <div class="image-box">
                                <div class="pattern">
                                    <div class="pattern-1" style="background-image: url(assets/images/shape/shape-49.png);"></div>
                                    <div class="pattern-2" style="background-image: url(assets/images/shape/shape-50.png);"></div>
                                    <div class="pattern-3"></div>
                                </div>
                                
                                 
                                <figure class="image image-1 paroller_img"><img src="assets/images/banner/Gated community image (594px x 337.6px).png" alt=""></figure>
                                <figure class="image image-2 paroller-2"><img src="assets/images/banner/doc_24x7.png" alt=""></figure>
                                 
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!-- about-style-two end -->

 

       
       
{{>footer}}
</body> 
</html>
