<!DOCTYPE html>
<html lang="en">
<head>
 
{{>header}}

</head>
<body>
{{>navbar}}           
<!---main section end   -->
        



        
	 <!---main section end   -->
        



        <!-- about-style-two - <h4 >Home visit</h4>-->
        <!-- <center><h4 class="font_big">Home visit</h4></center> -->
		<section class="about-style-two">
			<div class="auto-container">  
                <div class="row align-items-center clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_1">
                        
                            <div class="content-box mr-60">
                                <h6 class="content_block_1_h6">Few benefits of Home visit at home :</h6>
                                <ul class="list-style-one clearfix">
                                    <li>Doctors from doc24x7  brings healthcare to your home.</li>
                                    <li>Aimed to provide Essential treatment care for general symptoms and basic medical concerns to maintain and improve health . we provide comfort to patients that may not require extensive and regular medical intervention, but may need medical assistance from time-to-time like fever, cough, BP check-up and other vitals.</li>
                                    <li>Regular one-on-one health check-ups for 365days helps to identify the effectiveness of medications administered and early identification of complications.</li>
                                    <li>Patients and their Family members can avail the services of our home health care providers for specific, individual one-time purposes as well.</li>
                                    <li>Our doctors and expert physicians are available on-call for timely intervention and for your general medical needs.</li>
                                    
                                </ul>
								<div class="sec-title">
                                    <!--<p>About Doc24X7</p>-->
                                    <h2>Few benefits of Home visit at home :</h2>
                                </div>
								<ul class="list-style-one clearfix">
                                    <li>The first benefit is the availability of quality medical care in the comfort of your home.</li>
                                    <li>The consultation charges are lower when compared with the hospital visit charges, so you are saving on travelling allowances and also on  medical bills.</li>
                                    <li>Our Home visit give more personal medical care to the patient and is more empathetic.</li>
                                    <li>Not all illnesses need hospitalization, but owing to lack of support at home, patients end up in nursing homes and hospitals for medical care. In those cases our home visit doctors prove to be highly beneficial, as they can easily provide medical attention at home.</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column_left">
                        <div class="image_block_3">
                            <div class="image-box">
                                <div class="pattern">
                                    <div class="pattern-1" style="background-image: url(assets/images/shape/shape-49.png);"></div>
                                    <div class="pattern-2" style="background-image: url(assets/images/shape/shape-50.png);"></div>
                                    <div class="pattern-3"></div>
                                </div>
                                <figure class="image image-1 paroller_img"><img src="assets/images/banner/brain_stystmr.png" alt=""></figure>
                                
                                <figure class="image image-2 paroller-2"><img src="assets/images/banner/doc_24x7.png" alt=""></figure>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-style-two end -->


  


       
       
{{>footer}}
</body> 
</html>
