<!DOCTYPE html>
<html lang="en">
<head>
 
{{>header}}

</head>
<body>
{{>navbar}}           
<!---main section end   -->
        



        
	 <!-- <section class="pricing-section bg-color-3 sec-pad"> -->
    <!-- <div class="section_banner_secter"> -->
        <center>
            <div class="container-fluid py-2">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a class="h1" href="#carouselExampleControls" role="button" data-slide="prev">
                            <!-- <span>&lt;</span> -->
                        </a>
                    </div>
                    <div class="col">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row align-items-center">
                                        <div class="col-md py-2">
                                            <h1 class="data_incress">OP Consultation</h1>
                                             <p class="data_incress_p"> welcome to OP Consultation. </p>
                                             <!-- <center><button class="btn btn-primary">More here</button></center> -->
                                             <div class="btn-box"><a href="opconsultation" class="theme-btn-one">More us<i class="icon-Arrow-Right"></i></a></div>
                                         </div>
                                        <div class="col-md py-2">
                                            <img class="d-block img-fluid" src="assets/images/banner/OP Consultation_bp.png" alt="First slide">
                                        </div>
                                     
                                      
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row align-items-center">
                                        <div class="col-md py-2">
                                            <h1 class="data_incress">Diagnostic Center</h1>
                                            <p class="data_incress_p"> welcome to Diagnostic Center. </p>
                                            <!-- <center><button class="btn btn-primary">More here</button></center> -->
                                            <div class="btn-box"><a href="labdiagnostics" class="theme-btn-one">More Us<i class="icon-Arrow-Right"></i></a></div>
                                        </div>
                                        <div class="col-md py-2">
                                            <img class="d-block img-fluid" src="assets/images/banner/Lab & Diagnostics.png" alt="First slide">
                                        </div>
                                      
                                      
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row align-items-center">
                                        <div class="col-md py-2">
                                            <h1 class="data_incress">Ambulance services</h1>
                                            <p class="data_incress_p"> welcome to Ambulance services. </p>
                                            <!-- <center><button class="btn btn-primary">More here</button></center> -->
                                            <div class="btn-box"><a href="ambulance" class="theme-btn-one">More Us<i class="icon-Arrow-Right"></i></a></div>
                                        </div>
                                        <div class="col-md py-2">
                                            <img class="d-block img-fluid" src="assets/images/banner/Ambulance Service 55.jpg" alt="First slide">
                                        </div>
                                    
                                        
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row align-items-center">
                                        <div class="col-md py-2">
                                            <h1 class="data_incress">  Pharmacy Services</h1>
                                            <p class="data_incress_p"> welcome to Pharmacy Services. </p>
                                            <div class="btn-box"><a href="pharmacy" class="theme-btn-one">More Us<i class="icon-Arrow-Right"></i></a></div>
                                        </div>
                                        <div class="col-md py-2">
                                            <img class="d-block img-fluid" src="assets/images/banner/Pharmacy.png" alt="First slide">
                                        </div>
                                    
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a class="h1" href="#carouselExampleControls" role="button" data-slide="next">
                            <!-- <span>&gt;</span> -->
                        </a>
                    </div>
                </div>
            </div>
        </center>
     
    <!-- </div>-banner -->
<!-- </section> -->







        <!-- about-style-two -->
        <section class="about-style-two">
            <div class="auto-container">
                <div class="row align-items-center clearfix">
					<div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_3">
                            <div class="image-box">
                                <div class="pattern">
                                    <div class="pattern-1" style="background-image: url(assets/images/shape/shape-49.png);"></div>
                                    <div class="pattern-2" style="background-image: url(assets/images/shape/shape-50.png);"></div>
                                    <div class="pattern-3"></div>
                                </div>
                                <figure class="image image-1 paroller_img"><img src="assets/images/banner/Gated community image (594px x 337.6px).png" alt=""></figure>
                                <!-- <figure class="image-box">
                                    <img src="assets/images/team/team-14.jpg" alt="">
                                    <a href="doctors-dashboard"><i class="far fa-heart"></i></a>
                                </figure> -->
                                <figure class="image image-2 paroller-2"><img src="assets/images/banner/doc_24x7.png" alt=""></figure>
                                <!-- <div class="image-content">
                                    <figure class="icon-box"><img src="assets/images/icons/icon-8.png" alt=""></figure>
                                    <span>Appointment With</span>
                                    <h4>Specialist</h4>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_11">
                            <div class="content_block_2">
                                <div class="content-box mr-50">
                                    <div class="sec-title">
                                        <p>About Doc24X7</p>
                                        <h2>Bring care to your home with one click</h2>
                                    </div>
                                    <div class="text">
                                        <p>Doc 24/7 service provides expert care for you and your family that encompasses day-to-day healthcare  needs as well as long term assistance to live life to the fullest by regular monitoring. It is a constant endeavour to provide excellent in healthcare through our pro_active partnerships with the families and other healthcare providers.</p>
                                        <p>Our Doc24x7 gives primary care which is look after by professional MBBS and physician doctors who provides holistic care and assessment for non-emergent conditions that can typically be treated and identifies early signs of multiple diseases and conditions through a regular health check-up like fever, cough, BP check-up and other vitals.</p>
                                    </div>
                                    <!-- <ul class="list-style-one clearfix">
                                        <li>Associates Insurance</li>
                                        <li>Pina & Insurance</li>
                                    </ul> -->
                                    <div class="btn-box"><a href="about" class="theme-btn-one">About Us<i class="icon-Arrow-Right"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
   


        <!-- pricing-section --
        <section class="pricing-section bg-color-3 sec-pad">
            <div class="auto-container">
                <div class="sec-title centred">
                    <p>Packages</p>
                    <h2>Pick The Plan That Works for You</h2>
                </div>
                <div class="tabs-box">
                    <div class="tabs-content">
                        <div class="tab active-tab" id="tab-1">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-6 col-sm-12 pricing-block">
                                    <div class="pricing-block-one">
                                        <div class="pricing-table">
                                            <div class="pattern">
                                                <div class="pattern-1" style="background-image: url(assets/images/shape/shape-75.png);"></div>
                                                <div class="pattern-2" style="background-image: url(assets/images/shape/shape-76.png);"></div>
                                            </div>
                                            <div class="table-header">
                                                <h2>Monthly pack</h2>
                                                <h3><i class="fa fa-rupee"></i> 500 INR</h3>
                                            </div>
                                            <div class="table-content">
                                                <ul class="list clearfix">
                                                    <li>1 Bathroom Cleaning</li>
                                                    <li>Up to 3 Bedrooms Cleaning</li>
                                                    <li class="light">1 Livingroom Cleaning</li>
                                                    <li class="light">Kitchen Cleaning</li>
                                                </ul>
                                            </div>
                                            <div class="table-footer">
                                                <div class="link"><a href="/"><i class="icon-Arrow-Right"></i></a></div>
                                                <div class="btn-box"><a href="/" class="theme-btn-one">Buy Package<i class="icon-Arrow-Right"></i></a></div>  
                                                <!-- <div class="btn-box"><a href=" /." class="theme-btn-one">Buy Package<i class="icon-Arrow-Right"></i></a></div> --
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                        
                                <div class="col-lg-3 col-md-6 col-sm-12 pricing-block">
                                    <div class="pricing-block-one">
                                        <div class="pricing-table active">
                                            <div class="pattern">
                                                <div class="pattern-1" style="background-image: url(assets/images/shape/shape-75.png);"></div>
                                                <div class="pattern-2" style="background-image: url(assets/images/shape/shape-76.png);"></div>
                                                <div class="pattern-3" style="background-image: url(assets/images/shape/rehellobro/shape-77.png);"></div>
                                            </div>
                                            <div class="table-header">
                                                <h2>3 Months pack</h2>
                                                <h3><i class="fa fa-rupee"></i> 2400 INR</h3>
                                            </div>
                                            <div class="table-content">
                                                <ul class="list clearfix">
                                                    <li>1 Bathroom Cleaning</li>
                                                    <li>Up to 3 Bedrooms Cleaning</li>
                                                    <li>1 Livingroom Cleaning</li>
                                                    <li class="light">Kitchen Cleaning</li>
                                                </ul>
                                            </div>
                                            <div class="table-footer">
                                                <div class="link"><a href="/"><i class="icon-Arrow-Right"></i></a></div>
                                                <div class="btn-box"><a href="/" class="theme-btn-one">Buy Package<i class="icon-Arrow-Right"></i></a></div>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 pricing-block">
                                    <div class="pricing-block-one">
                                        <div class="pricing-table">
                                            <div class="pattern">
                                                <div class="pattern-1" style="background-image: url(assets/images/shape/shape-75.png);"></div>
                                                <div class="pattern-2" style="background-image: url(assets/images/shape/shape-76.png);"></div>
                                            </div>
                                            <div class="table-header">
                                                <h2>6 Months pack</h2>
                                                <h3><i class="fa fa-rupee"></i> 4400 INR</h3>
                                            </div>
                                            <div class="table-content">
                                                <ul class="list clearfix">
                                                    <li>1 Bathroom Cleaning</li>
                                                    <li>Up to 3 Bedrooms Cleaning</li>
                                                    <li>1 Livingroom Cleaning</li>
                                                    <li>Kitchen Cleaning</li>
                                                </ul>
                                            </div>
                                            <div class="table-footer">
                                                <div class="link"><a href="/"><i class="icon-Arrow-Right"></i></a></div>
                                                <div class="btn-box"><a href="/" class="theme-btn-one">Buy Package<i class="icon-Arrow-Right"></i></a></div>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<div class="col-lg-3 col-md-6 col-sm-12 pricing-block">
                                    <div class="pricing-block-one">
                                        <div class="pricing-table active">
                                            <div class="pattern">
                                                <div class="pattern-1" style="background-image: url(assets/images/shape/shape-75.png);"></div>
                                                <div class="pattern-2" style="background-image: url(assets/images/shape/shape-76.png);"></div>
                                                <div class="pattern-3" style="background-image: url(assets/images/shape/rehellobro/shape-77.png);"></div>
                                            </div>
                                            <div class="table-header">
                                                <h2>1 Year Pack</h2>
                                                <h3><i class="fa fa-rupee"></i> 5400 INR</h3>
                                            </div>
                                            <div class="table-content">
                                                <ul class="list clearfix">
                                                    <li>1 Bathroom Cleaning</li>
                                                    <li>Up to 3 Bedrooms Cleaning</li>
                                                    <li>1 Livingroom Cleaning</li>
                                                    <li class="light">Kitchen Cleaning</li>
                                                </ul>
                                            </div>
                                            <div class="table-footer">
                                                <div class="link"><a href="/"><i class="icon-Arrow-Right"></i></a></div>
                                                <div class="btn-box"><a href="/" class="theme-btn-one">Buy Package<i class="icon-Arrow-Right"></i></a></div>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- pricing-section end -->
		

     

        <!-- faq-section -->
        <section class="faq-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_4">
                            <div class="image-box">
                                <div class="pattern" style="background-image: url(assets/images/shape/shape-54.png);"></div>
                                <figure class="image"><img src="assets/images/banner/FAQ's Banner new.png" alt=""></figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_5">
                            <div class="content-box">
                                <div class="sec-title">
                                    <p>Faq’s</p>
                                    <h2>Frequently Asked Questions.</h2>
                                </div>
                                <ul class="accordion-box">
                                    <li class="accordion block">
                                        <div class="acc-btn">
                                            <div class="icon-outer"></div>
                                            <h4>How do I contact customer service?</h4>
                                        </div>
                                        <div class="acc-content">
                                            <div class="text">
                                                <p>Lorem ipsum dolor sit amet consectur adipiscing elit eiusmod tempor incididunt labore dolore magna aliquaenim ad minim veniam quis nostrud exercitation ullamco laboris.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion block active-block">
                                        <div class="acc-btn active">
                                            <div class="icon-outer"></div>
                                            <h4>Do doctors pay for good reviews?</h4>
                                        </div>
                                        <div class="acc-content current">
                                            <div class="text">
                                                <p>Lorem ipsum dolor sit amet consectur adipiscing elit eiusmod tempor incididunt labore dolore magna aliquaenim ad minim veniam quis nostrud exercitation ullamco laboris.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion block">
                                         <div class="acc-btn">
                                            <div class="icon-outer"></div>
                                            <h4>Why didn't my review get posted?</h4>
                                        </div>
                                        <div class="acc-content">
                                            <div class="text">
                                                <p>Lorem ipsum dolor sit amet consectur adipiscing elit eiusmod tempor incididunt labore dolore magna aliquaenim ad minim veniam quis nostrud exercitation ullamco laboris.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- faq-section end -->


        <!-- testimonial-style-two -->
        <section class="testimonial-style-two bg-color-3">
            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url(assets/images/shape/shape-55.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/shape-56.png);"></div>
                <div class="pattern-3" style="background-image: url(assets/images/shape/shape-57.png);"></div>
                <div class="pattern-4" style="background-image: url(assets/images/shape/shape-58.png);"></div>
                <div class="pattern-5" style="background-image: url(assets/images/shape/shape-59.png);"></div>
            </div>
            <div class="auto-container">
                <div class="sec-title centred">
                    <!-- <p>Testimonials</p> -->
                    <h2>Testimonials</h2>
                </div>
                <div class="three-item-carousel owl-carousel owl-theme owl-nav-none">
                    <div class="testimonial-block-two">
                        <div class="inner-box">
                            <div class="text">
                                <p>“ Lorem ipsum dolor sit amet con sectetur adipic  eksed do eiusm od tempor incid.”</p>
                            </div>
                            <div class="author-info">
                                <figure class="author-thumb"><img src="assets/images/resource/testimonial-3.png" alt=""></figure>
                                <h4>Amelia Anna</h4>
                                <span class="designation">Martketer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-two">
                        <div class="inner-box">
                            <div class="text">
                                <p>“ Lorem ipsum dolor sit amet con sectetur adipic  eksed do eiusm od tempor incid.”</p>
                            </div>
                            <div class="author-info">
                                <figure class="author-thumb"><img src="assets/images/resource/testimonial-4.png" alt=""></figure>
                                <h4>Paolo Dybala</h4>
                                <span class="designation">Martketer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-two">
                        <div class="inner-box">
                            <div class="text">
                                <p>“ Lorem ipsum dolor sit amet con sectetur adipic  eksed do eiusm od tempor incid.”</p>
                            </div>
                            <div class="author-info">
                                <figure class="author-thumb"><img src="assets/images/resource/testimonial-5.png" alt=""></figure>
                                <h4>Samuel Daniels</h4>
                                <span class="designation">Martketer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-two">
                        <div class="inner-box">
                            <div class="text">
                                <p>“ Lorem ipsum dolor sit amet con sectetur adipic  eksed do eiusm od tempor incid.”</p>
                            </div>
                            <div class="author-info">
                                <figure class="author-thumb"><img src="assets/images/resource/testimonial-3.png" alt=""></figure>
                                <h4>Amelia Anna</h4>
                                <span class="designation">Martketer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-two">
                        <div class="inner-box">
                            <div class="text">
                                <p>“ Lorem ipsum dolor sit amet con sectetur adipic  eksed do eiusm od tempor incid.”</p>
                            </div>
                            <div class="author-info">
                                <figure class="author-thumb"><img src="assets/images/resource/testimonial-4.png" alt=""></figure>
                                <h4>Paolo Dybala</h4>
                                <span class="designation">Martketer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-two">
                        <div class="inner-box">
                            <div class="text">
                                <p>“ Lorem ipsum dolor sit amet con sectetur adipic  eksed do eiusm od tempor incid.”</p>
                            </div>
                            <div class="author-info">
                                <figure class="author-thumb"><img src="assets/images/resource/testimonial-5.png" alt=""></figure>
                                <h4>Samuel Daniels</h4>
                                <span class="designation">Martketer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-two">
                        <div class="inner-box">
                            <div class="text">
                                <p>“ Lorem ipsum dolor sit amet con sectetur adipic  eksed do eiusm od tempor incid.”</p>
                            </div>
                            <div class="author-info">
                                <figure class="author-thumb"><img src="assets/images/resource/testimonial-3.png" alt=""></figure>
                                <h4>Amelia Anna</h4>
                                <span class="designation">Martketer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-two">
                        <div class="inner-box">
                            <div class="text">
                                <p>“ Lorem ipsum dolor sit amet con sectetur adipic  eksed do eiusm od tempor incid.”</p>
                            </div>
                            <div class="author-info">
                                <figure class="author-thumb"><img src="assets/images/resource/testimonial-4.png" alt=""></figure>
                                <h4>Paolo Dybala</h4>
                                <span class="designation">Martketer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-two">
                        <div class="inner-box">
                            <div class="text">
                                <p>“ Lorem ipsum dolor sit amet con sectetur adipic  eksed do eiusm od tempor incid.”</p>
                            </div>
                            <div class="author-info">
                                <figure class="author-thumb"><img src="assets/images/resource/testimonial-5.png" alt=""></figure>
                                <h4>Samuel Daniels</h4>
                                <span class="designation">Martketer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial-style-two end -->


   
<!-- process-style-two -->
<section class="process-style-two bg-color-3 centred">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-39.png);"></div>
        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-40.png);"></div>
        <div class="pattern-3" style="background-image: url(assets/images/shape/shape-41.png);"></div>
        <div class="pattern-4" style="background-image: url(assets/images/shape/shape-42.png);"></div>
    </div>
    <div class="auto-container">
        <div class="sec-title centred">
            <p>Process</p>
            <h2>Registration Process</h2>
        </div>
        <div class="inner-content">
            <div class="arrow" style="background-image: url(assets/images/icons/arrow-1.png);"></div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 processing-block">
                    <div class="processing-block-two">
                        <div class="inner-box">
                            <figure class="icon-box"><img src="assets/images/icons/icon-9.png" alt=""></figure>
                            <h3>Search Best Online Professional</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 processing-block">
                    <div class="processing-block-two">
                        <div class="inner-box">
                            <figure class="icon-box"><img src="assets/images/icons/icon-10.png" alt=""></figure>
                            <h3>View Professional Profile</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 processing-block">
                    <div class="processing-block-two">
                        <div class="inner-box">
                            <figure class="icon-box"><img src="assets/images/icons/icon-11.png" alt=""></figure>
                            <h3>Get Instant Doctor Appoinment</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- process-style-two end -->

        {{!-- <!-- agent-section -->
        <section class="agent-section">
            <div class="auto-container">
                <div class="inner-container bg-color-2">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-12 col-sm-12 left-column">
                            <div class="content_block_3">
                                <div class="content-box">
                                    <h3>Emergency call</h3>
                                    <div class="support-box">
                                        <div class="icon-box"><i class="fas fa-phone"></i></div>
                                        <span>Telephone</span>
                                        <h3><a href="tel:+91 9876543210">+91 9876543210</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 right-column">
                            <div class="content_block_4">
                                <div class="content-box">
                                    <h3>Sign up for Email</h3>
                                    <form action="/" method="post" class="subscribe-form">
                                        <div class="form-group">
                                            <input type="email" name="email" placeholder="Your Email" required="">
                                            <button type="submit" class="theme-btn-one">Submit now<i class="icon-Arrow-Right"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- agent-section --> --}}


       
       
{{>footer}}
</body><!-- End of .page_wrapper -->
</html>
