<!DOCTYPE html>
<html lang="en">
<head>
 
{{>header}}

</head>
<body>
{{>navbar}}           
<!---main section end   -->
        



        
	 <!-- about-style-two -->
         <section class="about-style-two">
            <div class="auto-container">
                <div class="row align-items-center clearfix">
					<div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_3">
                            <div class="image-box">
                                <div class="pattern">
                                    <div class="pattern-1" style="background-image: url(assets/images/shape/shape-49.png);"></div>
                                    <div class="pattern-2" style="background-image: url(assets/images/shape/shape-50.png);"></div>
                                    <div class="pattern-3"></div>
                                </div>
                                <figure class="image image-1 paroller_img"><img src="assets/images/banner/Gated community image (594px x 337.6px).png" alt=""></figure>
                                <!-- <figure class="image-box">
                                    <img src="assets/images/team/team-14.jpg" alt="">
                                    <a href="doctors-dashboard.html"><i class="far fa-heart"></i></a>
                                </figure> -->
                                <figure class="image image-2 paroller-2"><img src="assets/images/banner/doc_24x7.png" alt=""></figure>
                                <!-- <div class="image-content">
                                    <figure class="icon-box"><img src="assets/images/icons/icon-8.png" alt=""></figure>
                                    <span>Appointment With</span>
                                    <h4>Specialist</h4>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_11">
                            <div class="content_block_22">
                                <div class="content-box mr-50">
                                    <div class="sec-title">
                                       <p>About Doc24X7</p> 
                                        <h2>10 Reasons Why You Need A Primary Care Doctor</h2>
                                    </div>
                                    <ul class="list-style-one clearfix">
                                        <li>Holistic health care</li>
                                        <li>Better manage chronic diseases</li>
                                        <li>Higher level of comfort</li>
                                        <li>Transparency of entire health history</li>
                                        <li>Lower overall health costs</li>
                                        <li>Routine screenings</li>
                                        <li>Catch health issues early</li>
                                        <li>Referrals to other medical specialists</li>
                                        <li>Decrease in hospital and ER visits</li>
                                        <li>Better patient-provider communication</li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                    
                </div>
            </div>
                
        </div>
        </section>
        <!-- about-style-two end -->
        <br><br>
        <section class="about-style-two">
            <div class="auto-container">
                <div class="row align-items-center clearfix">
					<div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_22">
                            <div class="image-box">
                                <div class="pattern">
                                    <div class="pattern-1" style="background-image: url(assets/images/shape/shape-49.png);"></div>
                                    <div class="pattern-2" style="background-image: url(assets/images/shape/shape-50.png);"></div>
                                    <div class="pattern-3"></div>
                                </div>
                                <figure class="image image-1 paroller_img"><img src="assets/images/banner/Gated community image (594px x 337.6px).png" alt=""></figure>
                                <!-- <figure class="image-box">
                                    <img src="assets/images/team/team-14.jpg" alt="">
                                    <a href="doctors-dashboard.html"><i class="far fa-heart"></i></a>
                                </figure> -->
                                <figure class="image image-2 paroller-2"><img src="assets/images/banner/doc_24x7.png" alt=""></figure>
                                <!-- <div class="image-content">
                                    <figure class="icon-box"><img src="assets/images/icons/icon-8.png" alt=""></figure>
                                    <span>Appointment With</span>
                                    <h4>Specialist</h4>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_11">
                            <div class="content_block_22">
                                <div class="content-box mr-50">
                                    <div class="sec-title">
                                        <p>About Doc24X7</p>
                                        <h2>Bring care to your home with one click</h2> 
                                    </div>
                                    <div class="text">
                                        <p>Our Doc24x7 gives primary care which is look after by professional MBBS and physician doctors who provides holistic care and assessment for non-emergent conditions that can typically be treated and identifies early signs of multiple diseases and conditions through a regular health check-up like fever, cough, BP check-up and other vitals.</p>
                                        <p>To acquire trust of a family with support and intensive care for the family members and by providing healthcare medical services of the best quality. we also provide services like health insurances to help a patient family securely affordable to relive a life</p>
                                        <p><b>“ No matter what your size and health condition is, we a new family member take care by prescribing you a healthy medication, healthy diet, exercises which makes a healthy family ”</b></p>
                                    </div>
                                </div>
                            </div>
                    </div>
                    
                </div>
            </div>
        </div>
        </section>

           

  <!---about section--->
 


       
       
{{>footer}}
</body> 
</html>
