<!DOCTYPE html>
<html lang="en">
<head>
 
{{>header}}

</head>
<body>
{{>navbar}}           
<!---main section end   -->
        



        
		<section class="about-style-two">
			<div class="auto-container">  
                <div class="row align-items-center clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_1">
                           <div class="content_block_colors">
                            <div class="content-box mr-60">
                                <div class="sec-titles">
                                   
                                  <center><h2 class="franch">Franchise</h2></center>
                                    <ul class="list-style-one clearfix">
                                      
                                        <p>Aimed to provide Essential treatment care for general symptoms and basic medical concerns to maintain and improve health . we provide comfort to patients that may not require extensive and regular medical intervention, but may need medical assistance from time-to-time like fever, cough, BP check-up and other vitals.</p>
                                        <p>Regular one-on-one health check-ups for 365days helps to identify the effectiveness of medications administered and early identification of complications.</p>
                                        <li>Patients and their Family members can avail the services of our home health care providers for specific, individual one-time purposes as well.</li>
                                        <li>Our doctors and expert physicians are available on-call for timely intervention and for your general medical needs.</li>
                                        <li>Aimed to provide Essential treatment care for general symptoms and basic medical concerns to maintain and improve health . we provide comfort to patients that may not require extensive and regular medical intervention, but may need medical assistance from time-to-time like fever, cough, BP check-up and other vitals.</li>
                                        
                                    </ul> 
                                    <div class="btn-box"><a href="register" class="theme-btn-one">More Us<i class="icon-Arrow-Right"></i></a></div>
                                </div>
                                
							 
                                
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column_left_2">
                        <div class="image_block_3">
                            <div class="image-box_1">
                                <div class="pattern">
                                    <div class="pattern-1" style="background-image: url(assets/images/shape/shape-49.png);"></div>
                                    <div class="pattern-2" style="background-image: url(assets/images/shape/shape-50.png);"></div>
                                    <div class="pattern-3"></div>
                                </div>
                                <figure class="image image-1 paroller_img"><img src="assets/images/banner/franchise banner 1230px x 1080px no bg.png" alt=""></figure>
                                 
                            </div>
                        </div>
                    </div><!--section-end-->
                </div>
            </div>
        </section>
        <!-- about-style-two end -->


       
       
{{>footer}}
</body><!-- End of .page_wrapper -->
</html>
